HELP.md
dockerfile
docker-compose.yml
.docker/

*.class
*.jar
*.vm
.metadata/

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.dockerignore

.idea
*.iws
*.iml
*.ipr

*.sql
.env

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

/data

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
*.log.*
*.log
crash.log

application.properties