<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{compartido/layout :: master(~{::#pagina-contenido}, ~{::title})}">

<head>
	<title>Sistema Bus Control - Formulario Incidencia</title>
</head>

<body>
	<div id="pagina-contenido">
		<p th:if="${error != null}" class="alert alert-danger" th:text="${error}"></p>
		
		<div class="mb-4">
			<h1 class="h3 fw-bold" th:text="${modo == 'crear'} ? 'Nueva Incidencia' : 'Editar Incidencia'"></h1>
		</div>

		<div class="card shadow-sm border-0">
			<div class="card-body">

				<form th:action="@{/supervisor/incidencias/guardar}" th:object="${incidenciaForm}" method="post">
					<input type="hidden" name="id" th:if="${param.id != null}" th:value="${param.id}" />

					<div class="mb-3">
						<label class="form-label">Descripción</label>
						<textarea class="form-control" th:field="*{descripcion}" required th:text="${descripcion}" placeholder="Ingresa lo que ocurrio de forma sencilla y entendible."></textarea>
					</div>

					<div class="mb-3">
						<label class="form-label">Fecha y hora</label>
						<input type="datetime-local" class="form-control" th:field="*{fechaHoraSuceso}"
							th:value="${incidenciaForm.fechaHoraSuceso}" required>
					</div>

					<div class="mb-3">
						<label class="form-label">Recorrido</label>
						<select class="form-select" th:field="*{recorridoID}" required>
							<option value="">Seleccione</option>
							<option th:each="r : ${recorridos}" th:value="${r.id}" th:text="'Recorrido #' + ${r.id}">
							</option>
						</select>
					</div>

					<div th:if="${modo == 'editar'}" class="mb-3">
						<label class="form-label">Reportante</label>
						<input class="form-control"  type="text" disabled th:value="${usuarioNombre}"/>
						<input class="form-control" type="hidden" th:field="*{usuarioID}"/>
					</div>
					<input class="form-control" th:if="${modo == 'crear'}" type="hidden" th:field="*{usuarioID}" th:value="${usuarioID}"/>

					<button class="btn btn-primary">Guardar</button>
				</form>
			</div>
		</div>

	</div>
</body>

</html>